DATABASE_URL="postgresql://postgres:huZNd1mvc0W3ceaY@db.pzmxhbsgimvzhlozvyve.supabase.co:5432/postgres"
NEXT_PUBLIC_SUPABASE_URL="https://pzmxhbsgimvzhlozvyve.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_5-FQ01ggG9rjh7UJzT761g_v0ssZFOe"
GOOGLE_MAPS_API_KEY="AIzaSyBbVlA_9k3LID7vizzvxHIIcU8lRh93bk8"
